body {
	font-family: 'Rubik', sans-serif;
	font-size: 15px;
  font-weight: 400;
	height: 100%;
	margin: 0;

	&.overflow-mm-on {
		overflow: auto;
	}

	&.overflow-mm-off {
		overflow: hidden;
	}
}

.layout {
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

h1 {
	font-weight: bold;
	font-size: 35px;
}

h2 {
	font-weight: 500;
	font-size: 30px;
}

h3 {
	font-weight: 400;
	font-size: 25px;
}

h4 {
	font-weight: normal;
	font-size: 20px;
}

